.landing {
  background-color: #4f5d75;
  padding: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.gray {
  animation: animate-updown 2s ease-in-out infinite;
  animation-delay: 0s;
}

.purple {
  animation: animate-updown 2s ease-in-out infinite;
  animation-delay: 0.5s;
}

.white {
  animation: animate-updown 2s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes animate-updown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.text-animation span {
  position: relative;
  color: #fcb127;
}

.text-animation span::before {
  content: "";
  right: -4px;
  top: 13px;
  position: absolute;
  height: 20px;
  width: 2px;
  background: #ffffff;
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
